{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

<form method="post">

    {% if app.user %}
    <div class="mb-3 content">
        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
    </div>
    {% endif %}
    <!--row d-flex justify-content-center align-items-center h-100 -->
    <section class="h-100">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-xl-10">
                    <div class="card rounded-3 text-black connect-box">
                        <div class="row g-0">
                            <div class="col-lg-6">
                                <div class="card-body p-md-5 mx-md-4 color-left">

                                    <div class="text-center">
                                        <img src="./assets/logo.png" style="width: 185px;" alt="logo">
                                        <h4 class="mt-1 mb-5 pb-1">Nous sommes Innov'Anglais</h4>
                                    </div>

                                    <form>
                                        <p>Merci de vous connectez avec votre compte</p>

                                        <div class="form-outline mb-4">
                                            <b>Login</b>
                                            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus placeholder="Login" />
                                        </div>

                                        <div class="form-outline mb-4">
                                            <b>Mot de passe</b>
                                            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required placeholder="Mot de passe" />
                                        </div>
                                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                        {% if error %}
                                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                        {% endif %}

                                        <div class="text-center pt-1 mb-5 pb-1">
                                            <button class="btn btn-primary btn-block fa-lg bg-primary mb-3" type="submit" id="connect">Se connecter</button>
                                        </div>

                                        <div class="d-flex align-items-center justify-content-center pb-4">
                                            <p class="mb-0 me-2">Vous n'avez pas de compte ?</p>
                                            <a href="{{path('app_register')}}">Se créer un compte</a>
                                        </div>

                                    </form>

                                </div>
                            </div>
                            <div class="col-lg-6 d-flex align-items-center instyle">
                                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                    <div class="connect-box"></div>
                                    <h4 class="mb-4">Nous sommes bien plus qu'une simple application</h4>
                                    <p class="small mb-0">Le site Innov'Anglais a pour but de faciliter l'apprentissage de l'Anglais, de manière éducatif et sans prise de tête.
                                        Avec Innov'Anglais, testé vos connaissances linguistiques grâce à notre outil.
                                        Ce dernier est totalement gratuit et est développer continuellement. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
</form>


<script type="text/javascript" src="{{ asset('js/scriptLocalStorage.js') }}">
</script>
{% endblock %}