{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
{% if app.user is defined %}
{{form_start(form)}}
<div class="container rounded bg-white mt-5 mb-5">
    <h1 class="text-center">Bienvenue sur vôtre profil {{app.user.prenom}} !</h1>
    <p class="text-center">Vous avez cumulé plus de <strong class="text-danger">{{app.user.scoreTotal}}</strong> points sur nôtre site, bravo !</p>
    <div class="container pr-5 pl-5">
        <div class="p-3 py-5">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h3 class="text-right ">Modification de vos informations :</h4>
            </div>
            <div class="row mt-2">
                <div class="col-md-6">
                    <label for="nom" class="labels">Nom</label>
                    {{form_widget(form.nom)}}

                </div>
                <div class="col-md-6">
                    <label for="nom" class="labels">Prénom</label>

                    {{form_widget(form.prenom)}}

                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <label for="nom" class="labels">Identifiant</label>

                    {{form_widget(form.username)}}

                </div>

            </div>

            <div class="mt-5 text-center">
                {{form_widget(form.submit)}}
            </div>
        </div>
    </div>
    {% if app.user.resultats is empty %}
    <h3 class="text-center">Vous n'avez pas encore de résultat, try to learn now.</h3>
    {% else %}
    {% for resultat in app.user.resulats %}
    New resultat
    {% endfor %}
    {% endif %}
</div>
{% endif %}
{% endblock %}