<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{'./asset/favicon.ico'}}" type="image/x-icon">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    {% block stylesheets %}
    <!-- Bootstrap CSS -->
    <link href="https://bootswatch.com/5/lumen/bootstrap.min.css" rel="stylesheet">
    <link href="{{asset('./css/style.css')}}" rel="stylesheet">
    {% endblock %}
    <title>Innov'Anglais - {% block title %}{% endblock %}</title>
    {% block form %}{% endblock %}
</head>


<body>
    <div class="bg-picture"></div>

    <nav class="navbar navbar-expand-lg navstyle">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{path('app_base')}}">
                <img src="{{ asset('assets/logo.png') }}" alt="Innov'Anglais" style="width:100px;height:70px;">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="{{path('app_base')}}">Accueil
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{path('app_test')}}">
                            Apprendre
                        </a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Information</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{path ('app_ccm')}}">Comment ça marche</a>

                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{path ('app_information')}}">Contributeur</a>
                        </div>
                    </li>
                    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('app_login')}}">Se connecter</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{path('app_register')}}">Je souhaite m'inscrire</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('app_profil')}}">
                            Mon profil
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{path('app_classement')}}">
                            Classement
                        </a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('app_mots')}}">
                            Gestion du vocabulaire
                        </a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('app_logout')}}">
                            Se déconnecter de {{app.user.username}}
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    {% for message in app.flashes('notice') %}
    <h2 class="alert alert-warning text-center mt-4 mb-4" role="alert">
        {{ message }}</h2>
    {% endfor %}
    {% for message in app.flashes('error') %}
    <h2 class="alert alert-danger text-center mt-4 mb-4" role="alert">
        {{ message }}</h2>
    {% endfor %}
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    {% block body %}{% endblock %}

    {% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    {% endblock %}
    <article class="footer connect-art">
        <footer id="footer">
            <br> 2022. Ce site a était fait par les SIO 2D, plus précisemment par <a href="{{path ('app_information')}}">cet équipe</a>.
        </footer>
    </article>

</body>


</html>